.start {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.start h1 {
    margin-top: 5rem;
    font-size: 2em;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
}

.start p {
    color: whitesmoke;
    margin: 2rem 2rem 5rem 2rem;
}
